<div class="navbar navbar-default">
	<div class="container">
		<button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand">
			<span class="glyphicon glyphicon-screenshot"></span> Your Turn
		</a>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" data-ng-click="login()" data-ng-hide="user">
						<span class="glyphicon glyphicon-lock"></span> Login
					</a>
				</li>
				<li  class="dropdown">
					<a href="#"  data-ng-show="user" data-ng-cloak>
						<span class="glyphicon glyphicon-user"></span> {{user.name}} 
					</a>
				</li>
				<li class="dropdown">
					<a href="" data-ng-show="user" data-ng-click="logout()">
						<span class="glyphicon glyphicon-off"></span> Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading" data-ng-show="user">
					<form data-ng-submit="add()" role="form">
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="newItem"/>	
							<span class="input-group-btn">
								<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
							</span>
						</div>
					</form>
				</div>
				<ul class="list-group">
					<li data-ng-repeat="member in team | orderByPriority" class="list-group-item" data-ng-class="{'list-group-item-warning':$index==0}" data-ng-cloak>
						<h4 class="list-group-item-heading"> 
							{{member.text}} 
						
							<a href="" data-ng-show="user" data-ng-click="remove(member)" class="btn btn-xs btn-default pull-right"> <span  class="glyphicon glyphicon-ok"></span> </a>
						</h4>
						<p  data-ng-show="member.updated_by" class="list-group-item-text text-muted text-right hidden-xs">
							<small> last updated by <strong>{{member.updated_by}}</strong>, at <strong>{{member.updated_at}}</strong></small>
						</p>
					</li>
				</ul>	
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-push-8 col-md-push-11 col-xs-4 col-md-1">
				<p >Hasan ♥</p>
			</div>
		</div>
	</div>
</div>
