<div class="navbar navbar-default">
	<div class="container">
		<a href="#" class="navbar-brand">
			<span class="glyphicon glyphicon-user"></span> Your Turn
		</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<form data-ng-submit="add()" role="form">
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="newItem"/>	
							<span class="input-group-btn">
								<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
							</span>
						</div>
					</form>
				</div>
				<div data-ui-sortable="sortableOptions" class="list-group" data-ng-model="team">
					<a href="" data-ng-repeat="member in team | orderByPriority" class="list-group-item" >
						{{member.text}}
						<span class="badge">
							<span data-ng-click="remove(member)" class="glyphicon glyphicon-minus"></span>
						</span>
					</a>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-push-8 col-md-push-11 col-xs-4 col-md-1">
				<p >Hasan ♥</p>
			</div>
		</div>
	</div>
</div>
