<div class="navbar navbar-default">
	<div class="container">
		<h3 class="navbar-brand">Your Turn</h3>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<form data-ng-submit="add()" role="form">
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="newItem"/>	
							<span class="input-group-btn">
								<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
							</span>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<div data-ui-sortable class="list-group" data-ng-model="items">
						<a href="" data-ng-repeat="item in items" class="list-group-item" >
							{{item}}
							<span class="badge">
								<span data-ng-click="remove($index)" class="glyphicon glyphicon-minus"></span>
							</span>
						</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<p>♥ Hasan</p>
	</div>
</div>
